{% extends 'base.html.twig' %}

{% block title %}Job index{% endblock %}

{% block body %}
    <h1 class="mt-4 ml-2">Liste des candidatures</h1>
<div class="container">
    <table class="table mt-5">
        <thead>
            <tr>
                <th>Nom du poste</th>
                <th>Nom de l'entreprise</th>
                <th>Date de candidature</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for job in jobs %}
            <tr>
                <td>{{ job.jobtitle }}</td>
                <td>{{ job.companytitle }}</td>
                <td>{{ job.dateapplication ? job.dateapplication|date('d/m/Y',"Europe/Paris") : '' }}</td>
                <td>
                    <a class="btn btn-danger" href="{{ path('job_show', {'id': job.id}) }}">detail</a>
                    <a class="btn btn-primary" href="{{ path('job_edit', {'id': job.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-danger btn-large " href="{{ path('job_new') }}">Ajout d'une candidature</a>
    </div>
{% endblock %}
